body{
    background-color: #4d91e2;
}

#wrapper{
    width: 750px;
    height: 350px;
    background-color: yellow;
    margin-top: 120px;
    margin-left: 320px;
}

#btn{
    background-color: red;
    color: #ffffff;
    padding: 12px;
    border-style: none;
    font-weight: bold;
    width: 100px;
}